---
import PageLayout from "../layouts/PageLayout.astro";
import PostSummary from "../components/PostSummary.astro";
import {getCollection, type CollectionEntry} from 'astro:content';
const posts = await getCollection('posts');
const title = "ccardea github.io";
const description = "Github User Pages site.";
---
<PageLayout title={title}  description={description} >
  <div slot="message">
    <h2>Hello World!</h2>
    <p>This page lists summaries of some of my projects. The summaries link to individual project pages where you will find information on the history, current status, and future plans for the project. For information about me, please read the <a href="/about">About</a> page.</p>
  </div>  
    

  {posts.map((post: CollectionEntry<"posts">) => {
    <PostSummary entry={post}></PostSummary>
  })}
</PageLayout>