---
import PageLayout from "../layouts/PageLayout.astro";
const title = "ccardea github.io";
const description = "Github User Pages site."
---
<PageLayout title={title}  description={description} >
    
    <h1>Hello World!</h1>
    <div slot="message">
        <h2>Hello!</h2>
        <p>I have a message for you.</p>
    </div>
</PageLayout>