---
import PageLayout from "../layouts/PageLayout.astro";
import {getCollection, type CollectionEntry} from 'astro:content';
const posts = await getCollection('posts');
const title = "ccardea github.io";
const description = "Github User Pages site.";
---
<PageLayout title={title}  description={description} >
    
    <h1>Hello World!</h1>
    <ul>
  {posts.map((post: CollectionEntry<"posts">) => {
    <li><a href={`/posts/${post.id}`}>{post.data.title}</a></li>
  })}
</ul>
</PageLayout>